* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    width: 100%;
    height: 100vh;
    margin-top: 58px;
    background-image: url('https://mcdn.wallpapersafari.com/medium/59/20/fFQ5oR.jpg');
}


.offerProductSection {
    height: 400px;
    width: 100%;
    padding-top: 15px;
}

.offerNameSection {
    font-size: 30px;
    margin-left: 20px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.offerProductSubSection {
    width: 100%;
    height: 390px;
    border-radius: 3px;
    text-align: center;
    display: inline-flex;
    justify-content: space-around;

}

.offerCard {
    width: 300px;
    height: 100%;
    border: 1px solid black;
    border-radius: 4px;
}

.cardImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    border-bottom: 1px solid black;
}

.imgSize {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid black;
}

.cardDescription {
    height: 15%;
    background-color: #fff;
    padding-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.productsLeft {
    text-align: center;
}

.cardPrice {
    height: 15%;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btnShopping {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #febd69;
    border-radius: 4px;
    font-weight: 400;
    padding: 2px;
}

.categorySection {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.categoryBubble {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.categoryBubble:focus {
    outline: none;
    text-decoration: none;
}

.categoryBubble:hover {
    background-color: #fff;
    color: black;
    text-decoration: none;
}

.categoryBubble:active {
    transform: translateY(1px);
}

.footerDisplay {
    background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2013/12/04/183790/c6c49b5e119ef01724c44f47a2a50375-1400.jpg');
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footerAddress {
    display: block;
    text-align: center;
}